body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f8f8;
}

header {
    background: #4CAF50;
    padding: 10px 20px;
    color: white;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .logo-img {
    width: 50px;
    height: 50px;
    border-radius: 12px;
    margin-right: 10px;
  }
  
  .brand {
    font-size: 24px;
    font-weight: bold;
    flex: 1;
  }
  
  .nav-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav-list li {
    margin-left: 20px;
  }
  
  .nav-list a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .nav-list a:hover {
    color: #dfffdc;
  }
  

.hero {
    text-align: center;
    padding: 50px;
    color: white;
}
.hero h1,p{
    color:black;
    font-size: 20px;
}



footer {
    text-align: center;
    padding: 20px;
    background: #4CAF50;
    color: white;
}
nav .logo{
    text-align: left;
    display: inline;
}


header .list{
    padding-left:700px;
}
.logo{
    width: 50px; /* Adjust based on your design */
    margin-right: 20px; /* Space between logo and text */
    opacity:0.8;
    border-radius:12px;
}

.search-section {
  text-align: center;
  padding: 20px;
}

.search-section input {
  padding: 10px;
  width: 1000px;
  max-width: 400px;
  border-radius: 8px;
  border: 2px solid #ccc;
}
.product-grid {
  display: flex;
  justify-content: center;
  gap: 200px;
  padding: 20px;
}

.product-item {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s;
}

.product-item img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}
.product-item p{
  font-size: smaller;
}
